.sesion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  min-height: 100vh;
  width: 100%;
}
.sesion__head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.tag24bold--var {
  color: var(--title);
}
.sesion__body {
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.form__container {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 16px;
  width: 100%;
}
.tag16bold--var {
  color: var(--description);
}
.form__containerInput {
  width: 100%;
}
.boton14medium--var {
  color: var(--title);
}
.icon {
  position: absolute;
  padding: 4px;
  bottom: 0;
}
.icon--off {
  color: var(--description) !important;
}
.icon--left {
  left: 0;
}
.icon--right {
  right: 0;
}
.sesion__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}
.signGoogle {
  height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: var(--icon);
  font-size: 24px;
  padding: 8px 20px;
}
.signGoogle__text {
  font-size: 12px;
  font-weight: 400;
}
.sesion__or {
  color: var(--icon);
  font-weight: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
