.sesion {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  min-height: 100vh;
  width: 100%;
}
.sesion__head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.sesion__title {
  color: var(--title);
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.sesion__home {
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}
.sesion__home__link {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--icon);
}
.sesion__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.form__container {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 16px;
  width: 100%;
}
.form__containerInput {
  width: 100%;
}
.form__icon {
  position: absolute;
  color: var(--icon);
  font-size: 32px;
  padding: 4px;
}
.form__icon-left {
  left: 0;
}
.form__icon-right {
  right: 0;
}
.form__label {
  color: var(--description);
  font-size: 16px;
  font-weight: bold;
}
.form__input {
  background-color: transparent;
  outline: none;
  border: 1px solid var(--border);
  border-radius: 5px;
  height: 32px;
  padding: 0 40px;
  color: var(--description);
  width: 100%;
}
.form__input::placeholder {
  color: var(--description);
  font-size: 12px;
  font-weight: 400;
}
.form__button {
  height: 32px;
  width: 100%;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 16px;
  text-transform: capitalize;
  color: var(--title);
  background-color: var(--primary);
  border: none;
  cursor: pointer;
}
.sesion__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}
.sesion__footer__text {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.sesion__footer__text__link {
  text-decoration: none;
  color: var(--title);
}
.signGoogle {
  height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: var(--icon);
  font-size: 24px;
  padding: 8px 20px;
}
.signGoogle__text {
  font-size: 12px;
  font-weight: 400;
}
.sesion__or {
  color: var(--icon);
  font-weight: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
