.menu {
  height: 100%;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: absolute;
  top: 64px;
  left: 100%;
  background-color: var(--secondary);
  z-index: 2;
  transition: 0.5s ease-in-out;
  visibility: hidden;
}
.menu__input {
  background-color: transparent;
  outline: none;
  border: 1px solid var(--border);
  border-radius: 5px;
  height: 32px;
  width: 100%;
  padding: 8px;
  color: var(--description);
}
.menu__input::placeholder {
  color: var(--description);
  font-size: 12px;
  font-weight: 400;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
}
.list__item {
  list-style: none;
}
.list__item__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--description);
  width: 100%;
  display: inline-block;
}
.menu--active {
  left: 0;
  visibility: visible;
}
