.navigateContent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  width: 100%;
}
.tag14medium--var {
  color: var(--icon);
}
.navigate {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--border);
}
.navigate--more {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 4px;
}
.navigate--end {
  text-transform: uppercase;
}
.navigate:hover {
  border: 0;
  background-color: var(--end);
  cursor: pointer;
}
.navigate--active {
  border: 0;
  background-color: var(--end);
}
