.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
  min-height: 100vh;
  width: 100%;
}
.folder__title {
  width: 100%;
  color: var(--title);
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
.folder__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 0 32px;
}
.folder__contentIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.folder__icon {
  color: var(--icon);
  font-size: 32px;
}
.folder__icon:hover {
  color: var(--stars);
}
.folder__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
  border: 1px solid var(--border);
  border-radius: 8px;
}
.folder__tag {
  width: 100%;
  gap: 8px;
  display: grid;
  grid-template-columns: 32px 40% 1fr;
  grid-template-rows: auto;
  align-items: center;
}
.folder__tag__data {
  font-size: 14px;
  font-weight: 400;
  color: var(--title);
  text-transform: capitalize;
}
.folder__tag__data--variant {
  position: relative;
  padding: 8px 0;
  color: var(--going);
}
.folder__sumary {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.folder__sumary__head {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}
.folder__sumary__head::before {
  content: "";
  position: absolute;
  top: 34px;
  height: 2px;
  width: 100%;
  background-color: var(--border);
}
.folder__sumary__title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--title);
}
.folder__sumary__body {
  width: 100%;
  color: var(--description);
  font-size: 14px;
  font-weight: 400;
}
.folder__chapter {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.folder__chapter__head {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.folder__chapter__head::before {
  content: "";
  position: absolute;
  top: 34px;
  height: 2px;
  width: 100%;
  background-color: var(--border);
}
.folder__chapter__title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--title);
}
.folder__chapter__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--description);
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
.folder__ch {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.folder__ch::before {
  content: "";
  position: absolute;
  top: 34px;
  height: 2px;
  width: 100%;
  background-color: var(--border);
}
