.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  min-height: 100vh;
  width: 100%;
}
.title32bold--var {
  color: var(--title);
}
.folder__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.iconStar,
.iconFollow,
.iconLike {
  color: var(--icon);
  font-size: 32px;
}
.iconStar:hover {
  color: var(--stars);
  cursor: pointer;
}
.iconFollow:hover {
  color: var(--primary);
  cursor: pointer;
}
.iconLike:hover {
  color: var(--end);
  cursor: pointer;
}
.icon--var {
  font-size: 24px !important;
  cursor: pointer;
}
.icon--cursor {
  cursor: pointer;
}
.folder__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
  border: 1px solid var(--border);
  border-radius: 8px;
}
.folder__tag {
  width: 100%;
  gap: 8px;
  display: grid;
  grid-template-columns: 32px 40% 1fr;
  grid-template-rows: auto;
  align-items: center;
}
.tag14medium--var {
  color: var(--title);
}
.tag14medium--var__color {
  width: 100px;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--going);
}
.folderSumary {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.folderSumary__head {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}
.folderSumary__head::before {
  content: "";
  position: absolute;
  top: 34px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--border);
}
.tag24bold--var {
  color: var(--icon);
}
.description14medium--var {
  width: 100%;
  color: var(--description);
}
.folderChapter {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.folderChapter__head {
  position: relative;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 32px 1fr 32px;
  gap: 8px;
}
.folderChapter__head::before {
  content: "";
  position: absolute;
  top: 34px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--border);
}
.folder__ch {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.folder__ch::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: var(--border);
}
.tag16medium--var {
  color: var(--description);
}
