.ranking {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}
.ranking__header {
  font-size: 14px;
  font-weight: 400;
  color: var(--icon);
  text-transform: capitalize;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 48px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  gap: 1px;
  overflow: hidden;
}
.ranking__section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ranking);
}
.ranking__active {
  background-color: var(--end);
}
