.tagRankingContent {
  display: grid;
  grid-template-columns: 104px 87px 207px;
  grid-template-rows: 120px;
  padding: 8px 0;
  background-color: var(--ranking);
  width: 100%;
}
.tagRanking--number {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--new);
}
.tagRankingData {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 0 0 16px;
}
.tagRankingData--title {
  color: var(--title);
  /* for 2 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.tagRankingData--view {
  display: flex;
  align-items: center;
  gap: 8px;
}
.icon--var {
  font-size: 12px !important;
}
.tag12regular--var {
  color: var(--description);
}
