.cardData {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  /* width: 191px;
  height: 120px;*/
}
.title16bold--var {
  color: var(--title);
}
.cardData__title {
  /* for 2 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.chContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
}
.ch {
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid var(--ch);
  color: var(--ch);
}
.ch--new {
  padding: 4px;
  border-radius: 4px;
  background-color: var(--end);
  color: var(--title);
}
.ch--date {
  color: var(--description);
}
