@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
:root {
  --primary: #007bff;
  --secondary: #262626;
  --title: #f1eced;
  --description: #bbb;
  --border: #6c757d;
  --navbar: #1e1e1e;
  --ch: #2c74b3;
  --icon: #fff;
  --new: #ff6e31;
  --end: #dc0000;
  --stars: #fce700;
  --going: #54b435;
  --ranking: #414141;
}
